* {
    margin: 0;
    padding: 0;
}

.cabecalho{
   padding: 15px 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(134, 159, 184);
}

.cartao{
    width: 260px;
    height: 200px;
}
.cartao.imagem{
    width: 100%;
}

body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: hsl(36, 100%, 84%);
}
main{
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.cabecalho-link{
    color: hsl(271, 76%, 53%);
   text-decoration: none;

}

h1{
    color: hsl(248, 39%, 39%);
    text-size: 24px;

}

footer{
    background-color: hsl(34, 78%, 91%);
    padding: 15px 25px;
    color: hsl(240, 100%, 50%);
}

.cartao-interno{
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartap:hover .cartao-interno{
    transform: rotateY(180deg);
}

.cartao-frente, .cartao-verso{
    
}
